/* colors: 
        burgundy #400106, 
        dusty rose #D9B3B0
    fonts:
        montserrat
        dancing script
        bebas neue */

/*entire website */
[class*="col-"] {
    width: 100%;
}   

body {
    background-color: white;
    color: #400106;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
}

h2 {
    font-family: serif;
    font-variant: small-caps;
    font-size: 28px;
}

h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 22px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

/* navigation  */

.nav {
   text-align: center;
   font-size: 10px;
   margin: 0 auto;
   /* max-width: 1200px; */
   position: sticky;
   background-color: white;
   padding: 10 10 5 10;
   z-index: 1;
   top: 0;
}

.navbar {
    display: none;
    padding-inline-start: 0px;
    max-width: 1200px;
    margin: 0 auto;
}

.hamburger {
    font-size: 20px;
} 

.open {
    display: block;
}

.navLink {
    color: #400106;
    text-decoration: none;
    display: block;
}

li {
    padding: 5px;
    margin: 1px;
    box-shadow: 8px 8px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: 'Dancing Script', cursive;
    font-size: 22px;
    list-style-type: none;
}

.names {
    color: #400106; 
    text-decoration: none;
}

.border {
    width: 40%;
    align-items: center;
   
}

.selected {
    background-color: #400106;
    color: #D9B3B0;
    text-decoration: none;
    box-shadow: 8px 8px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.RSVPtab {
    display: none;
}

/* 0index */

.parallax {
    /* display: flex; */
    /* The image used */ background-image: url("Photos/Engagement_Dancing_Original.jpeg"); 
    overflow-x: hidden;
    overflow-y: hidden;
    /* Set a specific height */ min-height: 90%;  
    /* Create the parallax scrolling effect */ background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.basics {
    text-align: center;
    background-color: #400106; 
    opacity: 75%;
    position: fixed;
    bottom: 0px;
    color: white;
    width: 100%;
    font-size: medium;
    padding-bottom: 10px;
}

.intro {
    font-family: 'dancing script', cursive;
    font-size: 24px;
    margin: 20px 0px 0px 0px;
}

.time {
    color: #D9B3B0;
}

.address {
    color: #D9B3B0;
}

.RSVPbutton {
    /* display: none; */ 
    background-color: #D9B3B0 ;
    color: #400106;
    padding: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: outset #D9B3B0;
}

.RSVPlink {
    color: #400106;
    text-decoration: none;
}

/* 1about */
.FAQtitle {
    text-align: left;
} 

.weddinginfo {
    position: relative;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.question{
    width: 100%;
    text-align: center;
    background-color:#D9B3B0;
    color: #400106;
    font-family: 'Montserrat';
    font-variant: all-small-caps;
    font-size: 22px;
    border: solid 1px;
}
.FAQ {
    margin: 0 auto;
}

.FAQanswer{
    padding: 0 10px 0 5px;
}

/*. for accordions:
.question:hover{
    background-color: #400106;
    color:#D9B3B0;
}


.FAQanswer {
    display: none;
    overflow: hidden;
?

.question:after {
    content: '\02795'; 
    float: right;
    margin-left: 5px;
    font-size: 14px;
    color: #400106;
  }
  
.active:after {
    content: "\2796"; 
  }

*/

/* 2party */

.partyRow {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.partyBlock {
    display: block;
    padding: 5px;
    margin: 5px;
    width: 100%;
}

.partyPhoto {
    border: #400106 solid 1px;
    height: 300px;
}

/* 3local */

.BMI {
    margin: 0 10 0;
}

.activityRow {
    margin-bottom: 10px;
    align-items: top;
}

.activityPhoto {
    border: #400106 solid 1px;
    width: 100%;
}

.activityTextBlock {
    margin: 0px auto;
    padding-bottom: 5px;
}

/* 4story */
.map {
    border: #400106 solid 1px;
    display: none;
}

.story {
    display: none;
}
.timeline {
    margin: 0 10 0;
}

.timelineEntry {
    display: block;
    visibility: hidden;
}

@keyframes fadeIn {
    from { opacity: 0}
    to { opacity: 1}
}

.delay {
    visibility: initial;
    animation-name: fadeIn;
    animation-duration: 3s;
}

/* 5photos */
.gallery {
    margin: 0 10 0;
}

.carousel { 
    width: 100%;
    justify-items: center;
}

.carouselPhoto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.arrow {
    font-size: 28px;
    color: white; 
    padding: 8px;
}

.photo {
    max-width: 90%;
    padding-top: 20px;
}

.caption {
    text-align: center;
    margin: 0 auto;
    display: block;
    color: white;
    width: 50%;
    font-size: medium;
    padding-bottom: 10px;
    padding-top: 5px;
}

.engagementCarousel {
    margin-bottom: 10px;
}

.carouselBackground {
    background-color: rgba(64,1,6, .9);
    width: 75%;
    margin: 0 auto;
    padding: 0 20 0;
}
/* 6rsvp */

@media only screen and (min-width: 768px) {
    .col-1 {width: 30%;}
    .col-2 {width: 30%;}
    .col-3 {width: 30%;}
    .col-4 {width: 50%;}
    .col-5 {width: 50%;}
    
    .navbar {
        font-size: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }
    
    .hamburger {
        display: none;
    }
    
    .border {
        width: 20%;
    }
    
    li {
        width: 24%;
    }

    .parallax {
        background-size: contain;
    }
    
    .activityPhoto {
        height: 250px;
        width: 95%;
    }

    .activityRow {
        display: flex;
    }
} 